@model JobSeeker.Models.Dto.RegistrationDto
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutJobSeeker.cshtml";
}
@*<div class="col-md-6">
     <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="ProfileImage">
          <div class="form-group">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span>Select profile image:</span>
        <input type="file" name="ProfileImage" multiple />
         <span asp-validation-for="ProfileImage" class="text-danger"></span>
        <input type="submit" value="Upload" class="btn-sm btn-info" />
        <br/>
        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
        </div>
        
    </form>
   
</div>*@

@using (Html.BeginForm("ProfileImage", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="text-center">
        <h1 class="font-weight-bold">Upload File</h1>
        <p style="color:red;font-weight:bold;">
            @ViewBag.Message
        </p>
        <input type="file" name="formFile" />
        <input type="submit" value="Upload" />
    </div>
}


